@import '~react-md/src/scss/react-md';
$md-primary-color: #018786;
$md-secondary-color: #014487;
$md-error-color: #b00020;
$md-tertiary-color: #ffffff;
$md-background-color: #ffffff;
$md-black-color: #000;

.main-container,
.darker-background {
    background-color: #e0e0e0;
}

a:link {
    color: $md-secondary-color;
    text-decoration: none;
}
