extends layout

block content

  div.about-page
    p James is a Charlotte, NC native. He moved to Oakland, CA in March of 2016 to pursue web development as a career. In his past, he has been a tech blogger, business owner, and a  marketer. He is interested in how people communicate and how that information is displayed and understood.
