extends layout

block content
  div.wrapper
    div.banner
      h1 HI YOU!
      h2 I am James Stewart Jr.
      div.typing-phrase I love to learn.
    div.photo
      img(src='/images/landing-smile.jpg')
  script(src='/javascripts/type-animation.js')
