extends layout

block content
  div(class='landing-wrapper')
    div(class='banner')
      h1.title James Stewart Jr.
      h1 Full Stack engineer who enjoys client-side and server-side Javascript.
      br
      br
        
      div(class='content')
        
        div(class='listings')
          ul(class='current-work')
            li
              h3 Currently
            li
              a(href='https://learnersguild.org') Learners Guild: Software Engineer Apprentice
          ul(class='previous-work')
            li
              h3 Previously
            li
              a(href='https://getcolorstock.com') Colorstock: Co-founder        
            li
              a(href='https://www.charlotteagenda.com/20077/work-life-of-james-stewart-co-founder-of-colorstock/') Detailed Block: Co-founder, CEO
          br
          p.connect Connect
          ul(class='social-links')
            li
              a(href='https://medium.com/@JameStewartJr') Blog
            li
              a(href='https://github.com/jamestewartjr/') Github
            li
              a(href='https://twitter.com/jamestewartjr') Twitter
            li
              a(href='https://www.linkedin.com/in/jamestewartjr/') LinkedIn  
     
        div.photo
          img(src='/images/landing-smile.jpg')
