doctype html
html
  head
    title James Stewart Jr
    link(rel='stylesheet', href='stylesheets/styles.css')
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Roboto')
  body
    div(class='navigation-wrapper')
      ul(class='navigation')
        li(class='logo')
          a(href='/') Home
          //- img(src='/image.png', alt='logo')
        li
          a(href='/about') About
        li
          a(href='/work') Work
        li
          a(href='/contact') Contact

    block content
