* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  background-color: #24292E;
}
.me {
  height: 10px;
}
h1, h2, h3, h4, h5, h6 {
  color: #fff;
  margin-top: 20px;
  font-family: 'Montserrat',"Roboto", sans-serif;
}

.nagivation-wrapper{
  flex-direction: row;
}

/*.navigation-brand {
  list-style: none;
  display: flex;
  justify-content: flex-start;
  padding-left: 5px;
  font-family: 'Montserrat', "Roboto", "Helvetica Neue","Helvetica", Arial, sans-serif;
  font-size: 20px;
}*/

.nagivation, img {
  height: 20px;
  border-radius: 5px;
}

.navigation {
  list-style: none;
  display: flex;
  justify-content: flex-end;
  padding-left: 5px;
  font-family: "Roboto", Arial, "Helvetica Neue", "Helvetica", sans-serif;
  font-size: 20px;
}

.navigation, a {
  text-decoration: none;
  color: #CDD3DE;
  padding: 20px 5px 5px 40px;
  font-variant: small-caps;
}

.navigation, a:hover {
  color: #fff;
}

.typing-phrase {
  font-family: "Roboto", sans-serif;
  font-size: 42px;
  color: #fff;
  padding-top: 22px;
}

.landing-wrapper {
  display: flex;
  justify-content: space-around;
  padding-top: 10px
}

.photo, img {
  height: 400px;
  margin-top: 20px;
  border-radius: 15px;
}

.about-page{
  width: 600px;
  margin: 0 auto;
}
