* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body {
  background-color: #24292E;
}
h1, h2, h3, h4, h5, h6 {
  color: #606D7A;
  margin-top: 20px;
  font-family: "Roboto", sans-serif;
}

.navigation {
  list-style: none;
  display: flex;
  justify-content: flex-end;
  padding-left: 5px;
  font-family: "Roboto", "Helvetica Neue","Helvetica", Arial, sans-serif;
  font-size: 20px;
}

.navigation, a {
  text-decoration: none;
  color: #606D7A;
  padding: 20px 5px 5px 40px;
}

.navigation, a:hover {
  color: #fff;
}

.typing-phrase {
  font-family: "Roboto", sans-serif;
  font-size: 36px;
  color: #fff;
}
.wrapper {
  display: flex;
  justify-content: space-around;
  padding-top: 10px
}
.photo, img {
  height: 400px;
  margin-top: 20px;
  border-radius: 15px;
}
