---
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = "Oops";

---

<BaseLayout pageTitle={pageTitle}>
		<h1>Hi, I'm James!</h1>
		<h2>
            Not sure what you're looking for, but it's not here.
        </h2>

</BaseLayout>

