---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="About Me"
	description="A little info about James Stewart Jr"
	pubDate={new Date('September 29 2023')}
>
	<h2> Current Projects </h2>
	<p>
		Currently I'm not looking for new software opportunities. 
	</p>
</Layout>
