---
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = "Welcome";

---

<BaseLayout pageTitle={pageTitle}>
	<main>
		<h1>Hi, I'm James!</h1>
		<p>
			Welcome. I'm a software engineer, dad, and business owner. This is my part of the web.
		</p>
		<p>
			Currently, I spend most of time with my family and my business.
		</p>	

	</main>
	{/*<script>
		import "../scripts/hamburger.js";
	</script> */}
</BaseLayout>

