---
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = "Welcomex";

---

<BaseLayout pageTitle={pageTitle}>
	<main>
		<h1>Hi, I'm James!</h1>
		<p>
			Welcome. I'm a software engineer, dad, and business owner. This is my part of the web.
		</p>
		<p>
			Currently, I spend most of time with my family and my business.
		</p>	
		<p>
			Have fun! If you get stuck, remember to <a href="https://docs.astro.build/"
				>read the docs
			</a> or <a href="https://astro.build/chat">join us on Discord</a> to ask questions.
		</p>
	</main>
	<script>
		import "../scripts/hamburger.js";
	</script>
</BaseLayout>

