---
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = "Welcome	";

---

<BaseLayout pageTitle={pageTitle}>
	<main>
		<h1>Hi, I'm James!</h1>
		<p>
			Welcome. I'm a software engineer, dad, and business owner. This is my part of the web.
		</p>
		<p>
			Currently, I spend most of time with my family and my business.
		</p>
		<p>Here are a few ideas on how to get started with the template:</p>
		<ul>
			<li>Edit this page in <code>src/pages/index.astro</code></li>
			<li>Edit the site header items in <code>src/components/Header.astro</code></li>
			<li>Add your name to the footer in <code>src/components/Footer.astro</code></li>
			<li>Check out the included blog posts in <code>src/pages/blog/</code></li>
			<li>Customize the blog post page layout in <code>src/layouts/BlogPost.astro</code></li>
		</ul>
		<p>
			Have fun! If you get stuck, remember to <a href="https://docs.astro.build/"
				>read the docs
			</a> or <a href="https://astro.build/chat">join us on Discord</a> to ask questions.
		</p>
	</main>
	<script>
		import "../scripts/hamburger.js";
	</script>
</BaseLayout>

