---
const title = "James Stewart Jr's Linktree"
description: "A collection of links to James Stewart Jr's online presence."
---

<head>
  <title>{title}</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap">
  <style>
    body {
      font-family: 'Roboto', sans-serif;
      background-color: #357582;
      color: #ffffff;
      padding: 20px;
      text-align: center;
    }
    h1 {
      font-family: 'Roboto', sans-serif;
      font-weight: bold;
      margin-bottom: 10px;
    }
    .link-container {
      margin-top: 20px;
    }
    .link-item {
      margin-bottom: 10px;
    }
    .icon-links {
      display: flex;
      justify-content: center;
      margin-top: 20px;
    }
    .icon-links a {
      display: inline-block;
      margin: 0 10px;
      font-size: 24px;
      color: #ffffff;
    }
  </style>
</head>

<body>
  <h1>James Stewart Jr</h1>

  <div class="link-container">
    <h2>Content</h2>
    <div class="link-item">
      <a href="https://www.youtube.com/@jamestewartjr">My YouTube</a>
    </div>
  </div>

  <div class="link-container">
    <h2>Links</h2>
    <div class="link-item">
      <a href="https://www.jamestewartjr.com/">My site</a>
    </div>
    <div class="link-item">
      <a href="https://github.com/jamestewartjr">Code</a>
    </div>
  </div>

  <div class="icon-links">
    <a href="https://www.linkedin.com/in/jamestewartjr">LinkedIn</a>
    <a href="https://github.com/jamestewartjr">GitHub</a>
    <a href="https://twitter.com/jamestewartjr">Twitter</a>
    <a href="https://www.youtube.com/@jamestewartjr">YouTube</a>
  </div>
</body>
