div .mobile-fix {
    @media (max-width: 360px - 1px) {
        padding-left: 0;
        padding-right: 0;
    }
}

.section {
    margin: 40px 0;

    &:first-of-type {
        margin-bottom: 0;
    }
}